/* carousel text styles */
.carousel-wrapper {
  z-index: 34;
  position: relative;
}

.indicator {
  width: 8px;
  height: 8px;
  margin: -15px 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s ease;
  display: inline-block;
  bottom: 0;
  position: relative;
  align-items: start;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 3;
}

.indicator.active {
  background-color: white;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 10px #fff;
}

.carousel .thumbs-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10%;
  transform: translateX(-50%);
}

.carousel .control-dots {
  top: -10px;
  left: 0px;
  position: absolute;
  width: auto;
  margin: 0;
  margin-bottom: 5px;
  height: 50px;
}

.carousel__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: start;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.carousel__title span {
  display: block;
  color: white;
  font-weight: 400;
  text-align: start;
}

.carousel__text {
  color: white;
  font-size: 14px;
  line-height: 24px;
  text-align: start;
  margin-bottom: 1rem;
  width: auto;
  flex-wrap: wrap;
  display: flex;
  padding-left: 2px;
  padding-right: 2px;
}

.carousel__container {
  padding-left: 1px;
}
@media (max-width: 319px) {
  .carousel-wrapper {
    width: 250px;
    top: 100px;
    left: 5px;
    transition: 0.9s ease;
  }
}
@media (min-width: 320px) {
  .carousel-wrapper {
    top: 150px;
    left: 5px;
    transition: 0.9s ease;
    width: auto;
  }
}
@media (min-width: 550px) {
  .carousel-wrapper {
    top: 150px;
    left: 10px;
    width: 500px;
    height: 300px;
    transition: 0.9s ease;
  }
}
@media (min-width: 720px) {
  .carousel-wrapper {
    top: 150px;
    left: 142px;
    transition: 0.9s ease;
  }
}
@media (min-width: 1200px) {
  .carousel-wrapper {
    top: 220px;
    left: 140px;
    transition: 0.9s ease;
  }
}
@media (min-width: 1400px) {
  .carousel-wrapper {
    top: 220px;
    left: 350px;
    transition: 0.9s ease;
  }
}
@media (min-width: 1800px) {
  .carousel-wrapper {
    top: 220px;
    left: 400px;
    transition: 0.9s ease;
  }
}
@media (min-width: 2000px) {
  .carousel-wrapper {
    top: 220px;
    left: 700px;
    transition: 0.9s ease;
  }
}
